@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oxanium&display=swap');

body {
    display: flex;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

.nature-background {
    width: clamp(600px, 40%, 700px);
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nature-background img {
    width: 100%;
    height: 100%;
}

.nature-background .logo,
.nature-background .caption {
    position: absolute;
    background: rgba(12, 12, 12, 0.5);
    color: rgb(240, 240, 240);
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
}

.nature-background .logo {
    top: 20%;
    font-family: "Oxanium", Helvetica, monospace;
    font-size: 3rem;
    padding: 32px;
    letter-spacing: 0.75rem;
}

.nature-background .caption {
    bottom: 1%;
    padding: 0.5rem;
}

.nature-background a,
.nature-background a:visited {
    color: white;
}

.main-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0 16px;
    gap: 48px
}

.header-text {
    color: #283747;
    font-weight: 800;
    font-size: 1.5rem;
}

.sign-up-form {
    display: flex;
    flex-wrap: wrap;
}

.input-field {
    width: 50%;
    margin: 12px 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.input-field input {
    width: clamp(10rem, 50%, 15rem);
    height: 1.2rem;
    font-size: 1rem;
}