@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oxanium&display=swap');

body {
    display: flex;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

.nature-background {
    width: clamp(450px, 40%, 600px);
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nature-background img {
    width: 100%;
    height: 100%;
}

.nature-background .logo,
.nature-background .caption {
    position: absolute;
    background: rgba(12, 12, 12, 0.5);
    color: rgb(240, 240, 240);
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
}

.nature-background .logo {
    top: 20%;
    font-family: "Oxanium", Helvetica, monospace;
    font-size: 3rem;
    padding: 32px;
    letter-spacing: 0.75rem;
}

.nature-background .caption {
    bottom: 1%;
    padding: 0.5rem;
}

.nature-background a,
.nature-background a:visited {
    color: white;
}